<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fighter training</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <div id="personagens">

        <div id="personagem1">
            <div class="personagem">
                <img src="../img/Super-Saiyan-Azul-Goku-PNG.webp" alt="">
                <div class="stats">
                    <div>
                        <div>Força: </div>
                        <div>Agilidade: </div>
                        <div>Energia: </div>
                    </div>
                    <div>
                        <div id="gokuForcaStats" class="forca"></div>
                        <div id="gokuAgilidadeStats" class="agilidade"></div>
                        <div id="gokuEnergiaStats" class="energia"></div>
                    </div>
                </div>
            </div>
            <div class="treinar">
                <button id="gokuForca" class="btn-treinar">+Força</button>
                <button id="gokuAgilidade" class="btn-treinar">+Agilidade</button>
                <button id="gokuDescansar" class="btn-treinar">Descansar</button>
            </div>
            <div id="gokuCooldown">

            </div>
        </div>

        <div id="personagem2">
            <div class="personagem">
                <img src="../img/E8ECA0CA-BD4E-4A8D-822F-B626AED90E26.webp" alt="">
                <div class="stats">
                    <div>
                        <div>Força: </div>
                        <div>Agilidade: </div>
                        <div>Energia: </div>
                    </div>
                    <div>
                        <div id="ohmaForcaStats" class="forca"></div>
                        <div id="ohmaAgilidadeStats" class="agilidade"></div>
                        <div id="ohmaEnergiaStats" class="energia"></div>
                    </div>
                </div>
            </div>
            <div class="treinar">
                <button id="ohmaForca" class="btn-treinar">+Força</button>
                <button id="ohmaAgilidade" class="btn-treinar">+Agilidade</button>
                <button id="ohmaDescansar" class="btn-treinar">Descansar</button>
            </div>
            <div id="ohmaCooldown">

            </div>
        </div>

        <div id="personagem3">
            <div class="personagem">
                <img src="../img/Satoru_Gojo.png" alt="">
                <div class="stats">
                    <div>
                        <div>Força: </div>
                        <div>Agilidade: </div>
                        <div>Energia: </div>
                    </div>
                    <div>
                        <div id="gojoForcaStats" class="forca"></div>
                        <div id="gojoAgilidadeStats" class="agilidade"></div>
                        <div id="gojoEnergiaStats" class="energia"></div>
                    </div>
                </div>
            </div>
            <div class="treinar">
                <button id="gojoForca" class="btn-treinar">+Força</button>
                <button id="gojoAgilidade" class="btn-treinar">+Agilidade</button>
                <button id="gojoDescansar" class="btn-treinar">Descansar</button>
            </div>
            <div id="gojoCooldown">

            </div>
        </div>

        <div id="personagem4">
            <div class="personagem">
                <img src="../img/Jotaro_1.webp" alt="">
                <div class="stats">
                    <div>
                        <div>Força: </div>
                        <div>Agilidade: </div>
                        <div>Energia: </div>
                    </div>
                    <div>
                        <div id="jotaroForcaStats" class="forca"></div>
                        <div id="jotaroAgilidadeStats" class="agilidade"></div>
                        <div id="jotaroEnergiaStats" class="energia"></div>
                    </div>
                </div>
            </div>
            <div class="treinar">
                <button id="jotaroForca" class="btn-treinar">+Força</button>
                <button id="jotaroAgilidade" class="btn-treinar">+Agilidade</button>
                <button id="jotaroDescansar" class="btn-treinar">Descansar</button>
            </div>
            <div id="jotaroCooldown">

            </div>
        </div>

        <div id="personagem5">
            <div class="personagem">
                <img src="../img/Jin_Mo-Ri-1.webp" alt="">
                <div class="stats">
                    <div>
                        <div>Força: </div>
                        <div>Agilidade: </div>
                        <div>Energia: </div>
                    </div>
                    <div>
                        <div id="moriForcaStats" class="forca"></div>
                        <div id="moriAgilidadeStats" class="agilidade"></div>
                        <div id="moriEnergiaStats" class="energia"></div>
                    </div>
                </div>
            </div>
            <div class="treinar">
                <button id="moriForca" class="btn-treinar">+Força</button>
                <button id="moriAgilidade" class="btn-treinar">+Agilidade</button>
                <button id="moriDescansar" class="btn-treinar">Descansar</button>
            </div>
            <div id="moriCooldown">

            </div>
        </div>

    </div>

    <script type="module" src="/static/js/main.js"></script>
</body>

</html>